<?xml version="1.0"?>
<robot name="hospital_bed" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="prefix" default="h_bed_"/>
    <xacro:arg name="connected_to" default=""/>
    <xacro:arg name="xyz" default="'0 0 0'"/>
    <xacro:arg name="rpy" default="'0 0 0'"/>
    <xacro:arg name="mass" default="2.0"/>
    <xacro:arg name="fixed" default="1"/>

    <xacro:include filename="$(find furniture_descriptions)/urdf/hospital_bed.xacro"/>

    <xacro:hospital_bed prefix="$(arg prefix)" connected_to="$(arg connected_to)" xyz="$(arg xyz)" rpy="$(arg rpy)"
                 mass="$(arg mass)" fixed="$(arg fixed)"/>
</robot>
