<?xml version="1.0"?>
<robot name="qolo" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="prefix" default="qolo_"/>
    <xacro:arg name="connected_to" default=""/>
    <xacro:arg name="xyz" default="'0 0 0'"/>
    <xacro:arg name="rpy" default="'0 0 0'"/>
    <xacro:arg name="mass" default="3.0"/>
    <xacro:arg name="fixed" default="1"/>

    <xacro:include filename="$(find furniture_descriptions)/urdf/qolo.xacro"/>

    <xacro:qolo prefix="$(arg prefix)" connected_to="$(arg connected_to)" xyz="$(arg xyz)" rpy="$(arg rpy)"
                 mass="$(arg mass)" fixed="$(arg fixed)"/>
</robot>
