<?xml version="1.0"?>
<robot name="wall_sim" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="wall"
                 params="prefix='wall_' connected_to:='' xyz:='0 0 0' rpy:='0 0 0' mass=3.0, fixed:=1 dim:='12 0.1 1' ">

        <!-- <material name="grey">
            <color rgba="0.5 0.5 0.5 1"/>
        </material> -->

        <material name="white">
            <color rgba="1.0 1.0 1.0 1"/>
        </material>

        <xacro:if value="${fixed == 1}">
            <xacro:if value="${connected_to == ''}">
                <link name="world"/>
                <xacro:property name="base_frame_name" value="world"/>
            </xacro:if>
            <xacro:unless value="${connected_to == ''}">
                <xacro:property name="base_frame_name" value="${connected_to}"/>
            </xacro:unless>
            <xacro:if value="${connected_to == 'odom'}">
                <link name="odom"/>
                <xacro:property name="base_frame_name" value="odom"/>
            </xacro:if>

            <joint name="${prefix}base_to_${base_frame_name}" type="fixed">
                <parent link="${base_frame_name}"/>
                <child link="${prefix}base_link"/>
                <origin rpy="${rpy}" xyz="${xyz}"/>
            </joint>
        </xacro:if>

        <link name="${prefix}base_link">
            <visual>
                <geometry>
                    <box size="${dim}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${dim}"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>

</robot>
